.img1 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img2 {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 15% 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
