@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Saira+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap");

#nav {
  height: 100px;
  width: 100%;
}

/* .links {
  display: flex;
  text-align: center;
} */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border: none;
  background: rgb(81, 81, 81);
  background: linear-gradient(
    90deg,
    rgba(81, 81, 81, 1) 0%,
    rgba(179, 179, 179, 1) 50%,
    rgba(45, 45, 45) 100%
  );
}
.name {
  color: white;
  font-size: 32px;
  font-family: "Dancing Script", cursive;
}

.links {
  display: flex;
  text-decoration: none;
}

.link {
  margin-right: 1.5rem;
  color: white;
  text-decoration: none !important;
  font-size: 20px;
}
